/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)

*/



    html,

    body,

    div,

    span,

    applet,

    object,

    iframe,

    h1,

    h2,

    h3,

    h4,

    h5,

    h6,

    p,

    blockquote,

    pre,

    a,

    abbr,

    acronym,

    address,

    big,

    cite,

    code,

    del,

    dfn,

    em,

    img,

    ins,

    kbd,

    q,

    s,

    samp,

    small,

    strike,

    strong,

    sub,

    sup,

    tt,

    var,

    b,

    u,

    i,

    center,

    dl,

    dt,

    dd,

    ol,

    ul,

    li,

    fieldset,

    form,

    label,

    legend,

    table,

    caption,

    tbody,

    tfoot,

    thead,

    tr,

    th,

    td,

    article,

    aside,

    canvas,

    details,

    embed,

    figure,

    figcaption,

    footer,

    header,

    hgroup,

    menu,

    nav,

    output,

    ruby,

    section,

    summary,

    time,

    mark,

    audio,

    video {

      margin: 0;

      padding: 0;

      border: 0;

      font-size: 100%;

      font: inherit;

      vertical-align: baseline;

    }





    /* HTML5 display-role reset for older browsers */



    article,

    aside,

    details,

    figcaption,

    figure,

    footer,

    header,

    hgroup,

    menu,

    nav,

    section {

      display: block;

    }



a{text-decoration: none;

text-align: center;
    pointer-events:none;
color:black;

}

@font-face {font-family:tnewr;

            src: url(nimbustnew.otf);}

            #loader{display: none;}


#getter{display: none;}



#infoholder {
    width: 48%;
    padding-right: 2%;
    /* padding-left: 2%; */
    font-size: 1.25vw;
    /* position: fixed; */
    margin-top: 5%;
    /* margin-left: 0; */
    height: 100%;
    /* background-color: gray; */
    overflow-y: scroll;
    /* text-align: left; */
    font-family: tnewr;
}
#closer{font-size: 2vw;
    font-family: tnewr;
    position: fixed;
    cursor:pointer;
    right: 2%;
    top: 2%;}
 #bigholder{
    display: none;
    position: fixed;
    height: 76%;
    width: 100%;
    /* background-color: grey; */
}
#profilepic{
    width: 30%;
    margin-left: 10%;
    float: left;
    margin-top: 10%;
    margin-right: 5%;
}

#See_also,.caption,.floatleft,.editsection,.spriteedit-pencil,sup,hr,.tally,.wikia-menu-button{display: none;}
figure{display:none;}
i,.header-column.header-title,.pi-item.pi-item-spacing.pi-title,#Image_gallery,#toctitle,.image.image-thumbnail,.toctoggle,.wikia-button.comments.secondary.talk,#WikiaArticleMsg,#scriptdestroy,.wikia-button.createpage.add-new-page-experiment-element,.header-column.header-tally,.gallery-image-wrapper.accent,tbody,#gallery-0{display: none;}
.floatright{display: none;}

.mw-headline{font-size:2vw}
h1,h2,h3,h4,h5,h6{font-size:2vw;
margin-bottom: 2%;
margin-top: 3%
}
#title{

    color: black;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    /* top: 29%; */
    /* background-color: #181818; */
    width: 98%;
    font-family: tnewr;
    font-size: 3vw;
    /* margin-left: 3%; */
    /* margin-top: 4%; */
    line-height: 2vw;
    margin-bottom: 4%;
    /* height: 16vw; */}



#infotitle{    line-height: 1vw;

    font-family: tnewr;

    font-size: 1.25vw;

    /* margin-left: 2%; */}





.notouch{

  pointer-events: none;

}

#titlepp {
    float: left;
    font-size: 3vw;
    margin-top: 3%;
    margin-bottom: 2%;
}



#guest{background-color: #C9A735;

color:#C9A735;

font-family: helvetica;}

#reccur{background-color: #5A5A5A;

color:#5A5A5A;

font-family: helvetica;}

#star{background-color: black;

    color:black;

font-family: helvetica;}    



.sorter{

cursor: pointer;

    top: 1%;

    right: 4.5%;

    position: fixed;

    width: 3%;}



.sorter2{

cursor: pointer;

    top: 1%;

    right: 1%;

    position: fixed;

    width: 3%;}







#family{right: 1%;}



#name{display: none;}








#holder{width:98%;

        margin-top: .5%;

	margin-left: 1%;}



.picholder {

        text-align: center;

    float: left;

    width: 6%;

    height: 14vw;

    margin: .25%;

    border: 1px black solid;}

.proftitle{

    font-family: tnewr;

    font-size: .8vw;

}

.family{

    font-family: tnewr;

    font-size: .75vw;
    cursor: pointer;

}

.profpics {
    cursor: pointer;
    width: 86%;

	margin-top: 10%}





/*seasons*/

    .a{font-family: helvetica;

        color:white;

        font-size:.9vw;

        margin-top: 2%;

        display: inline-block;}



    .b{font-family: helvetica;

        color:white;

        font-size:.9vw;

        margin-top: 2%;

        display: inline-block;}



    .c{font-family: helvetica;

        color:white;

        font-size:.9vw;

        margin-top: 2%;

        display: inline-block;}





    .d{font-family: helvetica;

        color:white;

        font-size:.9vw;

        margin-top: 2%;

        display: inline-block;}



    .e{font-family: helvetica;

        color:white;

        font-size:.9vw;

        margin-top: 2%;

        display: inline-block;}

    .f{font-family: helvetica;

        color:white;

        font-size:.9vw;

        margin-top: 2%;

        display: inline-block;}



    .g{font-family: helvetica;

        color:white;

        font-size:.9vw;

        margin-top: 2%;

        display: inline-block;}


